.featured {
    display: flex;
    justify-content: space-between;
    margin: 0 15% 0 15%;
}

.column {
    width: 15%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
}

.column:hover {
    transform: translateY(-5px);
}

.column img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 15px;
}

.column h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.column p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.column a {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #558C6F;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.column a:hover {
    color: #2E5241;
}

.read-more {
    margin-top: auto;
    text-align: center;
}