/* Global Stylesheet */
/* Reset some default styles */
body,
figure,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F7EFED;
}

/* Set a base font size and color */
body {
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
}

/* Header styles */
header {
    background-color: #A3BFA4;
    color: black;
    padding: 20px;
}


/* Footer styles */
footer {
    background-color: #A3BFA4;
    text-align: center;
    width: 100%;
    height: 50px;  /* height of the footer */
    border-top: 1px solid black; /* add border to top of footer */
}

/* Nav Bar */
nav {
    padding: 10px;
}

nav ul li a:hover {
    color: #ffcc00;
    /* Change text color on hover */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 10px;
}

a {
    color: #fff;
    text-decoration: none;
}




/* Main content styles */

h1 {
    color: #38403D;
    margin: 10px;
}

h2 {
    color: #38403D;
    margin-bottom: 10px;
}

main {
    padding: 30px;
    flex: 1;
}

section {
    margin-left: 20%;
    margin-right: 20%;
}

article {
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 10px;
}

p {
    color:black;
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}